html body {
  font-size: 14px;
  background-color: #f3f4f6;
}
.fd-w-2 {
  width: 2px;
}
.fd-min-w-1280 {
  min-width: 1280px;
}
.h-30 {
  height: 30px;
}
.login {
  width: 590px;
  z-index: 201;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
}
.mask {
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  display: none;
  background: #000;
}
.fd-input {
  @apply w-full py-3 px-9 rounded-3xl text-xl border-2 border-purple-100 focus:outline-none focus:ring-2 focus:ring-purple-500
}
.login-active {
  @apply text-purple-500 border-b-2 pb-4 border-purple-500
}
.banner {
  height: 200px;
  background: linear-gradient(90deg, #833AB4 0%, #E94057 50.52%, #F27121 100%);
  .avatar {
    margin: 0 auto;
    top: 140px;
    width: 146px;
    height: 146px;
  }
}
.my-contents {
  width: 900px;
  min-height: 350px;
}
.item {
  width: 274px;
  .img-bg {
    width: 100%;
    height: 194px;
  }
  .img-bg2 {
    width: 353px;
    height: 337px;
  }
}
.rank {
  width: 353px;
}
.min-w-1280 {
  min-width: 1280px;
}
