/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .bg-primary {
        background: linear-gradient(90deg, #833AB4 0%, #E94057 50.52%, #F27121 100%);
        color: white;
    }
    .active {
        @apply bg-primary text-white
    }
    .tap-color-none {
        -webkit-tap-highlight-color: transparent;
    }
    .ab-center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    }
    .ab-y-center {
        @apply absolute top-1/2 transform -translate-y-1/2
    }
    .fd-container {
        @apply max-w-7xl px-10 mx-auto min-w-1280
    }
    .fx-between {
        @apply flex justify-between items-center
    }
    .fx-center {
        @apply  flex items-center justify-center
    }
    .fx-content-center{
        @apply  flex justify-center
    }
    .fx-content-between{
        @apply  flex justify-between
    }
    .fx-items-center {
        @apply flex items-center
    }
}
